

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Alatsi';
  scroll-behavior: auto !important;
}

body{
  margin: 0;
  height: 700vh;
  background: #000000;
}

/*---------------------------*/


.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  font-size: 20px;
  z-index: 2;
}

.nav-logo {
  color: rgba(255, 255, 255);
  text-decoration: none;
}

.nav-logo span{
  color: rgb(194, 194, 194);
}

.nav-logo:hover span {
  color: #ff3333;
}

ul.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.path{
  display: block;
  color: rgb(194, 194, 194);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bolder;
}

.hamburguer {
    display: none;
    color: rgb(194, 194, 194);
    padding: 16px 16px;
    text-decoration: none;
    font-weight: bolder;
}

.dropdown{
  position: relative;
  margin-top: 50px;
  width: 100%;
}

/* Header dropdown content */
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  pointer-events: none;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.headerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0px;
  height: 100%;
  width: 100%;
}

.headerText {
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 10px;
}

.viewer {
  margin-top: 0;
  width: 40%;
}

.scrollDown{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.scrollDown p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 0; 
}

.scrollDown img{
  margin-top: -10px;  
  width: 70px;
  height: auto;
}

.main {
  pointer-events: auto;
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-image: url("resources/background2.png");
  background-repeat: no-repeat;
  background-position: top;  
  background-size: cover;
}

@keyframes slide-in {
  from{
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.description {
  display: none;
  color: #fff;
  font-size: 2rem; 
  overflow: hidden;    
  animation: slide-in 1s ease backwards;   
  animation-delay: 0.5s;
}

.bigText {
  display: none;
  color: #fff;
  font-size: 5rem;
  letter-spacing: 15px;
  animation: slide-in 1s ease backwards;
  animation-delay: 0.5s;
}

.highlighted {
  color: #ff3333;
}

.icon{
  display: none;
  margin-right: 20px;
  outline: none;
  text-decoration: none;
  animation: pop-up 1s ease backwards;
  animation-delay: 1s;
}

.icon:hover img{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.about {
  padding: 50px 0 50px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("resources/background2.png");
  background-size: cover;
}

.spacer{
  width: 50%;
}

.aboutDescription{
  margin-left: 0;
  max-height: 500px;
  max-width: 900px;
  color: #fff;
  font-size: 1.4rem; 
  overflow-x: hidden;
  animation: slide-in 1s ease backwards;   
  animation-delay: 0.5s;              
}

@keyframes pop-up {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {

  body {
    background-image: url("resources/backgroundMobile.png"); 
  }

  .main {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    row-gap: 20px; 
    text-align: center; 
  }
  .bigText {
    font-size: 2.5rem;
    letter-spacing: 10px;
  }

  .description {
    font-size: 1.2rem;
    text-align: center;
  }

  .headerContent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerText{
    text-align: center;
  }

  .viewer{
    width: 90%;
  }
}